  <footer class="row footer">
    
    <div class="small-12">
      &copy; 2015 reservr.net
    </div>
    
  </div>

  <script src="/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/bower_components/foundation/js/vendor/modernizr.js"></script>
  <script src="/bower_components/foundation/js/vendor/fastclick.js"></script>
  <script src="/bower_components/foundation/js/foundation.min.js"></script>
  <script src="/bower_components/rome/dist/rome.min.js"></script>
  
  <script src="/js/dashboard.js"></script>

</body>
</html>
